.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
  text-align: center;
  flex-direction: column;
}

.button {
  display: flex;
  gap: 10px;
}

button:active {
  background: rgb(62, 226, 62);
}

.five-red {
  color: red;
}
